<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minhvu.proandroid.sqlite.database">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.view.Activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.view.Activity.BookDetailActivity"
            android:parentActivityName=".main.view.Activity.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.view.Activity.MainActivity"/>
        </activity>

        <activity android:name=".main.view.Activity.PopupActivity"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>


        <provider
            android:authorities="@string/content_authority"
            android:name=".models.data.BookProvider"/>
        <receiver android:name=".receiver.PinBroadcast">
            <intent-filter>
                <action android:name="pinbroadcast"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>